extends layout

block content
  header.main.small
    article
  .content
    .left
      h3 Контакты
      p E-mail:
      ul
        li order@diplom24.me
      p Телефоны:
      ul
        li +7 965 796-24-26
      p Skype:
      ul
        li dipkonsalt
      if map
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.1342787484937!2d30.357554099999987!3d59.929914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631a5260c6331%3A0x6320b5608474409e!2z0J_Rg9GI0LrQuNC90YHQutCw0Y8g0YPQuy4sIDgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTEwNDA!5e0!3m2!1sru!2sru!4v1429987932111")

    .right
      h3 Обратная связь
      form#feedback
        input#name(type="text" placeholder="Ваше имя")
        input#mail(type="email" placeholder="Email")
        textarea#text
        button Отправить
