extends layout

block content
  header.main.small
    article
  .content
    
    h3#delivery-for-free Бесплатная доставка
    p Бесплатно отправим ваши документы Почтой России в любой город.
    
    h3#payment-by-fact Доставка в Москве и Санк-Петербурге без предоплаты
    p В этих городах работает наша собственная курьерская служба. Доставляем в руки без предоплаты: Вы, ваши доверенные лица, родственники или друзья смогут взять в руки и проверить уже отпечатанный диплом.
    
    h3 Как заказать диплом, если я нахожусь в регионе
    p Наличие диплома  - это важный фактор при устройстве на работу, да и вообще в том, чтобы найти свое место под солнцем. Но порой, выходит так, что у  человека не было возможности поступить или закончить ВУЗ. Многие из них работали по определенной специальности много лет, имеют огромный опыт в данной сфере. Но в связи с изменениями в законодательстве они сталкиваются с такой ситуацией, что им необходимо предоставить диплом об окончании ВУЗа. 
    p В том, чтобы купить готовый диплом, нет ничего зазорного. Главное, чтобы диплом соответствовал подлиннику, и никто не смог раскрыть обмана.
    p Наша компания делает всевозможные дипломы и документы об образовании, которые имеют высокую степень защиты, оригинальные печати и подписи. Для изготовления дипломов мы используем ту же бумагу, что и учебные заведения, и наши дипломы полностью соответствуют требованиям ГОСТа. 
    p Мы предоставляем возможность заказать диплом в Москве и в Санкт-Петербурге, как и большинство компаний. Но нашим отличительным плюсом является то, что, даже, если вы находитесь в регионах, даже, будь то, Владивосток или  Калининград, то вы также можете воспользоваться нашими услугами. 
    p Где можно заказать диплом? Вы можете заказать диплом без посредников, находясь в любой точке России: Москва, Санкт-Петербург, Калуга, Воронеж, Екатеринбург, Иваново, Ижевск, Иркутск, Калининград, Нижний Новгород, Новосибирск, Рязань, Самара, Тула, Уфа, Хабаровск, Челябинск, Владимир, Великий Новгород, Волгоград, Киров, Красноярск, Мурманск, Пермь и т.д.
    p Как заказать диплом? Для этого вам нужно просто определиться, диплом какого ВУЗа и какого города вам необходим, по какой специальности. Возможно, вам принципиально иметь красный диплом ВУЗа с отличием или просто бланк диплома. Это так же не является проблемой. Все подобные услуги мы предоставляем.
    p Но, даже, если на начальном этапе у вас возникнут сомнения или вопросы, вам всего лишь нужно с нами связаться, и наши консультанты вам помогут. Вам нужно будет подготовить ваши личные данные (ФИО, дата и место рождения, предыдущее образование, желаемый город и место учебы, специальность, форма обучения, годы поступления и выпуска; ваш почтовый адрес с индексом и номера телефонов). Вы можете задать все интересующие вас вопросы, а наши консультанты расскажут вам обо всех, даже самых мельчайших, нюансах. После того, когда вы выберете подходящий для вас вариант, вам назовут цену и сроки изготовления документов, способы оплаты и доставки. 
    p Для нас очень важно, чтобы наши клиенты остались довольны и, чтобы их затраты окупились успешным трудоустройством. Поэтому мы поддерживаем связь с нашими покупателями и по завершению выполнения заказов. 
    
