extends layout

block content
  header.main.small
    article
  .content
    
    
    h3 Перед доставкой
    p Получив от вас все данные для заполнения документа - мы верстаем макет и высылаем его вам в сканированном виде на проверку
    p Получив от вас подтверждение - печатаем чистовой вариант со всеми подписями и печатями
    p Отправляем любым удобным вам способом
    
    h3 Виды доставки
      h4#delivery-for-free Бесплатная доставка
      p Бесплатно отправим ваши документы Почтой России в любой город. ( подбробнее
    
      
      h4 Доставка курьерской службой на ваш выбор
      p Отправим 
  
    h3 Доставка в Москве
    p В городе Москве мы сможем доставить документы нашей курьерской службой. Никакой предоплаты при этом не потребуется.
    p Предварительно мы вышлем отсканированный вариант документа. Курьер работает в пределах МКАДА.

    h3 Доставка в Петербурге
    p В городе Санкт-Петербурге мы сможем доставить документы нашей курьерской службой. Никакой предоплаты при этом не потребуется.
    p Предварительно мы вышлем отсканированный вариант документа.

    h3 Доставка курьерской компанией
    p Отправим документы любой курьерской компанией на ваш выбор.

    h3 Предварительно перед отсылкой, вы получаете изображение документа на свой электронный адрес.

    p Являясь жителем Питера или Москвы,  Вы сможете получить заказанный диплом с помощью курьерской службы. Пред тем как оплатить диплом, Вы можете проверить его на наличие ошибок и опечаток.
    p В случае если Вы находитесь в других городах или за пределами Росси, то это не беда. Мы осуществляем доставку в самые отдаленные уголки страны. Такая доставка осуществляется одним из нижеперечисленных вариантов:

    p Получение заказа по почте (наложенным платежом), оплата товара при получении
    p Можно воспользоваться услугами служб доставки «FedEx» и «DHL», но в таком случае необходимо произвести полную предоплату заказа и оплатить все расходы за почтовые услуги и реквизиты. Используя такой вариант доставки диплома, Вы получите его очень быстро.
    p Есть возможность получить диплом заказным письмом – это самый оптимальный и экономный вариант.  В отличие от наложенного платежа доставка происходит быстрее и отпадает надобность в оплате почтовых издержек (что выйдет Вам на 250-400 рублей дешевле). Для такого варианта доставки также необходима полная предоплата заказа.
    p Если в момент, когда клиент должен получить диплом, он находится  за пределами страны, можно прибегнуть к услугам проводников. Наложенным платежом или заказным письмом отправить диплом из России не получится – это запрещено законодательством РФ. Поэтому за отдельную плату можно договориться с проводником поезда и передать диплом в нужный город за пределы страны. Также в данной ситуации можно воспользоваться услугами компании «FedEx»
    p Еще одним вариантом доставки является доставка через родственников друзей и знакомых. К примеру, если Вы лично по каким-либо причинам не можете забрать диплом и находитесь за пределами Москвы или Питера, или вообще находитесь за пределами страны, то помощь друзей и близким окажется как нельзя кстати. Человек, которому Вы доверили получение диплома, вместо Вас приходит, проверяет документ на наличие ошибок или опечаток, производит оплату и забирает диплом. После этого Ваше доверенное лицо любым удобным для Вас способом высылает документ куда нужно. Если Вы доверили получить диплом кому то из знакомых и родных, то Вы должны обязательно нас об этом проинформировать и указать личные данные Вашего доверенного лица.
    p В случае если Вы хотите отложить доставку диплома, или внести какие то изменения в документ, то не забывайте указывать контактную информацию, по которой мы можем с Вами связаться и обсудить все подробности.
