extends layout

block content
  header.main.small
    article
  .content

    h3 Какие сроки изготовления работ?

    p
      | - Контрольные работы, рефераты от 1 дня.
      br
      | - Курсовые работы от 2 дней.
      br
      | - Дипломные работы от 7 дней.

    p Обычный срок исполнения 3-7 дней, если работу необходимо изготовить за 1-2 дня, то заказ считается срочным (в этом случае возможна доплата за срочность в размере + 50%).

    h3 Какие гарантии?

    p Заказывая работу я предоставляю вам не только написание не посредственно самой работы, но и её обслуживание в качестве доработок. Срок предоставления гарантии 1 календарный год с момента оформления заказа. Доработка ошибок производиться нами бесплатно в течение 1-3 дней, дополнительные вопросы по работе оплачиваются клиентом. Претензии по работе принимаются если предварительно были высланы задание, требования к работе, методические указания и список рекомендованной литературы.

    p Я дорожу своей репутацией и своими клиентами! В больше случаев клиенты узнают обо мне по «сарафанному радио» (по рекомендациям друзей, сотоварищей и одногруппников).

    h3 Кто у вас пишет работы?

    p Работу выполняет исключительно профильный специалист- то есть я, специалист имеющий большой опыт написания работ и соответствующее высшее образование.