extends layout

block content
  header.main.small
    article
  .content

    h3#individual Индивидуальный подход к каждому

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero accusantium suscipit molestiae incidunt libero officia iste alias cumque magni at expedita nemo consectetur doloremque hic commodi totam inventore, omnis illo!

    h3#gosznak Диплом государственного образца, оформленный в соответствии со всеми требованиями, изготавливаемый только на бланках ГОЗНАК, с оригинальными подписями и мокрыми печатями

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem impedit eveniet debitis maiores alias officia ullam voluptate nobis iusto consequatur aliquam accusantium enim, veniam quaerat odio tempora porro, obcaecati earum.

    h3#privacy Полная конфиденциальность

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo atque quibusdam unde, sint accusamus quaerat nihil distinctio dolores tempora laboriosam modi aut culpa. Libero nisi, aliquam! Possimus, earum aliquid iste.    

    h3#payment Оплата по факту

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore ipsa quaerat et quibusdam sequi nesciunt doloremque ad rerum sunt velit atque earum perspiciatis sed commodi porro hic, repellat, consectetur beatae.

    h3#consult Каждый наш клиент получает подробную консультацию по всем вопросам как до начала работы, так и в процессе сотрудничества

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni libero ipsum delectus, corporis in sed magnam alias neque quisquam odio nisi perferendis quo nobis minus cumque, at possimus ut ratione!

    h3#delivery Доставка за наш счет

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus aliquid dolorem ducimus nemo inventore sapiente, asperiores iure autem ad consequatur itaque quis velit incidunt nostrum, alias repellat fugit nam cum.