extends layout

block content
  header.main.small
    article
  .content

    h3#individual Индивидуальный подход к каждому

    p Предоставляем самый широкий выбор документов, все возможные варианты доставки, оставьте заявку(линк) и мы ответим на любые ваши вопросы

    h3#gosznak Диплом государственного образца

    p Мы предоставляем все документы только на настоящих бланках ГОСЗНАКа, со всеми степенями защиты, оригинальными подписями и настоящими мокрыми печатями. Мы не занимаемся продажей типографских копий дипломов, выдавая их за ГОСЗНАК. 

    h3#privacy Полная конфиденциальность

    p Мы гарантируем что покупка вами диплом останется неизвестной любым сторонним лицам. 
    
    h3#payment Оплата по факту

    p Берем на себя все риски, вы можете оплатить диплом уже после получения его в руки, в случае ошибок или помарок  - сразу вернем деньги или

    h3#consult Точные ответы на все вопросы
    p Каждый наш клиент получает подробную консультацию по всем вопросам как до начала работы, так и в процессе сотрудничества

    h3#delivery Доставка за наш счет
    p Бесплатно отправим диплом почтой росии в любой город. Подробнее - здесь(линк на страницу доставки)
    
