extends layout

block content
  header.main.small
    article
  .content
  
    h1 Какие дипломы мы делаем?
    p В последние годы складывается так, что мысль о покупке поддельного диплома не считается чем-то экстраординарным. Скорее, с каждым годом это явление становится все более распространенным и нормальным.
    p Если вы решили, что хотите купить диплом или иной документ, подтверждающий ваше образование или профессиональную квалификацию, то вполне естественно, что вы хотите получить определенные гарантии, исключающие возможность возникновения каких бы то ни было проблем. У нас  есть замечательная новость! Мы такие гарантии предоставляем, и даже больше, так как все дипломы, которые мы продаем, имеют высокую степень защиты и оригинальные печати и подписи. А это самая надежная из всех гарантий.
    p Мы можем изготовить любой документ об образовании, который вам только потребуется. И не важно, где вы находитесь. Вы можете заказать диплом в Москве или в Санкт-Петербурге, или находясь в регионах. Ваше местоположение роли не играет. Какие дипломы мы делаем? Список предоставляемых нами услуг порадует даже самого требовательного покупателя.

    h4 Дипломы об окончании ВУЗа:
    p В нашей компании осуществляется продажа дипломов ВУЗа любой квалификации и специальности, так же мы изготавливаем красные дипломы с отличием.
    p При необходимости мы сделаем диплом иностранного ВУЗа, в том числе украинского и белорусского ВУЗа.
    p Диплом коммерческого ВУЗа
    p Диплом ликвидированного ВУЗа
    p Диплом негосударственного ВУЗа
    p Диплом технического ВУЗа
    p Диплом филиала ВУЗа. 

   h4 Другие дипломы:
    p Диплом об окончании техникума, в том числе, красный, советского или нового образца.
    p Диплом об окончании колледжа (в том числе, медицинского, педагогического и строительного).
    p Диплом о неполном среднем образовании
    p Диплом о полном среднем образовании
    p Диплом о среднем специальном образовании
    p Диплом об окончании училища
    p Диплом о профессиональной переподготовке
    p Диплом о повышении квалификации
    p Диплом об окончании ПТУ, в том числе образца до 1996 года.
    p Диплом об окончании курсов

    h4 Бланки дипломов и приложения:
    p бланки дипломов государственного образца 
    p Бланк диплома бакалавра
    p Бланк диплома специалиста
    p Бланки дипломов СПО 
    p Бланк-приложение к диплому
    p Бланк диплома СССР
    p Бланк диплома о профессиональной переподготовке 
    p Бланк диплома о повышении квалификации
    p Чистые бланки
    p Чистые бланки с печатью и штампами
    p Приложение к диплому кандидата наук
    p Приложение к диплому доктора наук

    h4 Аттестаты:
    p Аттестат об окончании средней школы
    p Аттестат об окончании вечерней школы

    h4 Сертификаты и свидетельства:
    p Медицинский сертификат
    p Медицинский сертификат специалиста
    p Свидетельства ЕГЭ
    p Свидетельство о повышении квалификации
    p Удостоверение рабочих специальностей

    h4 Справки и прочее:
    p У нас вы можете купить академическую  справку
    p Архивные справки
    p Справка-вызов
    p Справка об обучении
    p Студенческий билет с печатью или без таковой
    p Бланк студенческого билета
    p Корочка студенческого билета

    h3#individual Индивидуальный подход к каждому

    p Предоставляем самый широкий выбор документов, все возможные варианты доставки, <a href="#" class="runbox">оставьте заявку</a> и мы ответим на любые ваши вопросы

    h3#gosznak Диплом государственного образца

    p Мы предоставляем все документы только на настоящих бланках ГОСЗНАКа, со всеми степенями защиты, оригинальными подписями и настоящими мокрыми печатями. 
    p Мы не занимаемся продажей типографских копий дипломов, выдавая их за напечатанные на бланках ГОСЗНАК.  

    h3#privacy Полная конфиденциальность

    p Мы гарантируем что покупка вами диплом останется неизвестной любым сторонним лицам. 
    
    h3#payment Оплата по факту

    p Берем на себя все риски, вы можете оплатить диплом уже после получения его в руки, в случае ошибок или помарок  - сразу вернем деньги или бесплатно отправим новый документ

    h3#consult Точные ответы на все вопросы
    p Каждый наш клиент получает подробную консультацию по всем вопросам как до начала работы, в процессе сотрудничества, а так же - после получения диплома. Мы не бросаем своих клиентов.

    h3#delivery Доставка за наш счет
    p Бесплатно отправим диплом почтой росии в любой город. Подробнее - <a href="/delivery">здесь</a>
    
