extends layout

block content
  header.main.small
    article
  .content
  
    h1 Какие дипломы мы делаем?
    p1 В последние годы складывается так, что мысль о покупке поддельного диплома не считается чем-то экстраординарным. Скорее, с каждым годом это явление становится все более распространенным и нормальным.
    p1 Если вы решили, что хотите купить диплом или иной документ, подтверждающий ваше образование или профессиональную квалификацию, то вполне естественно, что вы хотите получить определенные гарантии, исключающие возможность возникновения каких бы то ни было проблем. У нас  есть замечательная новость! Мы такие гарантии предоставляем, и даже больше, так как все дипломы, которые мы продаем, имеют высокую степень защиты и оригинальные печати и подписи. А это самая надежная из всех гарантий.
    p1 Мы можем изготовить любой документ об образовании, который вам только потребуется. И не важно, где вы находитесь. Вы можете заказать диплом в Москве или в Санкт-Петербурге, или находясь в регионах. Ваше местоположение роли не играет. Какие дипломы мы делаем? Список предоставляемых нами услуг порадует даже самого требовательного покупателя.

    h4 Дипломы об окончании ВУЗа:
    p - В нашей компании осуществляется продажа дипломов ВУЗа любой квалификации и специальности, так же мы изготавливаем красные дипломы с отличием.
    p - При необходимости мы сделаем диплом иностранного ВУЗа, в том числе украинского и белорусского ВУЗа.
    p - Диплом коммерческого ВУЗа
    p - Диплом ликвидированного ВУЗа
    p - Диплом негосударственного ВУЗа
    p - Диплом технического ВУЗа
    p - Диплом филиала ВУЗа. 

    h4 Другие дипломы:
    p - Диплом об окончании техникума, в том числе, красный, советского или нового образца.
    p - Диплом об окончании колледжа (в том числе, медицинского, педагогического и строительного).
    p - Диплом о неполном среднем образовании
    p - Диплом о полном среднем образовании
    p - Диплом о среднем специальном образовании
    p - Диплом об окончании училища
    p - Диплом о профессиональной переподготовке
    p - Диплом о повышении квалификации
    p - Диплом об окончании ПТУ, в том числе образца до 1996 года.
    p - Диплом об окончании курсов

    h4 Бланки дипломов и приложения:
    p - Бланки дипломов государственного образца 
    p - Бланк диплома бакалавра
    p - Бланк диплома специалиста
    p - Бланки дипломов СПО 
    p - Бланк-приложение к диплому
    p - Бланк диплома СССР
    p - Бланк диплома о профессиональной переподготовке 
    p - Бланк диплома о повышении квалификации
    p - Чистые бланки
    p - Чистые бланки с печатью и штампами
    p - Приложение к диплому кандидата наук
    p - Приложение к диплому доктора наук

    h4 Аттестаты:
    p - Аттестат об окончании средней школы
    p - Аттестат об окончании вечерней школы

    h4 Сертификаты и свидетельства:
    p - Медицинский сертификат
    p - Медицинский сертификат специалиста
    p - Свидетельства ЕГЭ
    p - Свидетельство о повышении квалификации
    p - Удостоверение рабочих специальностей

    h4 Справки и прочее:
    p - У нас вы можете купить академическую  справку
    p - Архивные справки
    p - Справка-вызов
    p - Справка об обучении
    p - Студенческий билет с печатью или без таковой
    p - Бланк студенческого билета
    p - Корочка студенческого билета

    h1 Как заказать диплом, если я нахожусь в регионе

    p Наличие диплома  - это важный фактор при устройстве на работу, да и вообще в том, чтобы найти свое место под солнцем. Но порой, выходит так, что у  человека не было возможности поступить или закончить ВУЗ. Многие из них работали по определенной специальности много лет, имеют огромный опыт в данной сфере. Но в связи с изменениями в законодательстве они сталкиваются с такой ситуацией, что им необходимо предоставить диплом об окончании ВУЗа. 
    p В том, чтобы купить готовый диплом, нет ничего зазорного. Главное, чтобы диплом соответствовал подлиннику, и никто не смог раскрыть обмана.
    p Наша компания делает всевозможные дипломы и документы об образовании, которые имеют высокую степень защиты, оригинальные печати и подписи. Для изготовления дипломов мы используем ту же бумагу, что и учебные заведения, и наши дипломы полностью соответствуют требованиям ГОСТа. 
    p Мы предоставляем возможность заказать диплом в Москве и в Санкт-Петербурге, как и большинство компаний. Но нашим отличительным плюсом является то, что, даже, если вы находитесь в регионах, даже, будь то, Владивосток или  Калининград, то вы также можете воспользоваться нашими услугами. 
    p Где можно заказать диплом? Вы можете заказать диплом без посредников, находясь в любой точке России: Москва, Санкт-Петербург, Калуга, Воронеж, Екатеринбург, Иваново, Ижевск, Иркутск, Калининград, Нижний Новгород, Новосибирск, Рязань, Самара, Тула, Уфа, Хабаровск, Челябинск, Владимир, Великий Новгород, Волгоград, Киров, Красноярск, Мурманск, Пермь и т.д.
    p Как заказать диплом? Для этого вам нужно просто определиться, диплом какого ВУЗа и какого города вам необходим, по какой специальности. Возможно, вам принципиально иметь красный диплом ВУЗа с отличием или просто бланк диплома. Это так же не является проблемой. Все подобные услуги мы предоставляем.
    p Но, даже, если на начальном этапе у вас возникнут сомнения или вопросы, вам всего лишь нужно с нами связаться, и наши консультанты вам помогут. Вам нужно будет подготовить ваши личные данные (ФИО, дата и место рождения, предыдущее образование, желаемый город и место учебы, специальность, форма обучения, годы поступления и выпуска; ваш почтовый адрес с индексом и номера телефонов). Вы можете задать все интересующие вас вопросы, а наши консультанты расскажут вам обо всех, даже самых мельчайших, нюансах. После того, когда вы выберете подходящий для вас вариант, вам назовут цену и сроки изготовления документов, способы оплаты и доставки. 
    p Для нас очень важно, чтобы наши клиенты остались довольны и, чтобы их затраты окупились успешным трудоустройством. Поэтому мы поддерживаем связь с нашими покупателями и по завершению выполнения заказов. 

    h1 Наши гарантии
    p Прежде всего, мы предоставляем каждому нашему клиенту гарантию качества. Наша компания не обманывает своих покупателей и не выдает типографские листки за государственные бланки. Мы работаем честно и изготавливаем  дипломы, которые невозможно отличить от оригиналов . Это наше огромное преимущество перед большим количеством наших конкурентов, которые, зачастую, обманывают своих клиентов, а когда им предъявляют претензии пропадают и не выходят на связь.  Если вы обратитесь к нам, то, мы обещаем, вы никогда не столкнетесь с подобными проблемами.
    p Наша компания занимает лидирующее место на рынке по количеству выполненных работ и по количеству положительных отзывов и рекомендаций. Помимо того, что у нас демократичные цены и вы можете диплом заказать относительно недорого, мы работаем практически по всем городам России, и у нас вы можете заказать диплом без посредников.
    p Для нас очень важно качество выполнения заказов, а главное, их влияние на Вашу жизнь. На такой шаг, как покупка диплома, пойдет не каждый. А вся причина в том, что люди боятся разоблачения и подделки.
    p Мы гарантируем то, что ваша покупка не будет разоблачена. Как минимум, все данные мы храним в строжайшей тайне, а все дипломы оформляются по ГОСТу и на бумаге государственного образца. Наша продукция имеет высокую степень защиты, установленную законом. На каждом документе присутствуют объемные водяные знаки, светящиеся частицы и микротекст. Такой документ ни у кого и никогда не вызовет сомнений по поводу его подлинности. 
    p В момент оформления заказа мы проконсультируем вас, какой диплом и какого ВУЗа вам лучше приобрести, исходя из вашей индивидуальной ситуации.
    p В нашей компании, как и в любой другой, могут случаться форс-мажоры с опечатками или с ошибками. Но процент брака нашей фирмы чрезвычайно низок. И, если вдруг, случилось такое, что в заказе присутствуют недочеты, то мы берем на себя всю ответственность, и исправляем работу абсолютно бесплатно!
    p Мы заботимся о каждом нашем клиенте, и поддерживаем связь с момента подачи заявки до момента вашего трудоустройства. Нам очень важно, чтобы сделанный нами диплом об окончании ВУЗа изменил вашу жизнь в лучшую сторону. В случае, если вас терзают сомнения и даже после всех предоставленных гарантий, вы волнуетесь и боитесь показать диплом работодателю, мы лично вас проконсультируем,  дадим  необходимые советы и окажем максимальную поддержку.

    h1#gosznak Чем купленный диплом отличается от подлинника?
    p Масса компаний предлагает приобрести дипломы своим потенциальным покупателям.  Но где лучше заказать диплом, если у вас появилась такая необходимость? Оформление документов такого вида – не самое дешевое удовольствие. И если вы надумали покупать диплом ВУЗа, то вы должны быть на 100% уверены в его качестве и соответствию подлинникам.
    p Самое сложное – это найти компанию с надежной  репутацией, которая даст все необходимые гарантии, будет поддерживать с вами постоянную связь и введет вас в курс всех мельчайших подробностей. Можем сказать вам, что наша компания является таковой, и если вы обратитесь к нам, то никогда не столкнетесь с подозрениями о не подлинности вашего диплома.
    p Если диплом об окончании ВУЗа соответствует всем требованиям ГОСТа, имеет установленную законом степень защиты и исполнен на бланках государственного образца, то волноваться вам не о чем – такой диплом никогда и никто не сможет отличить от подлинника. 
    p Работодатели проверяют дипломы на подлинность в очень редких и исключительных случаях. Чаще всего к этому приводит неосторожность самого заказчика. Все же к выбору специальности, которая будет указана в дипломе, нужно отнестись очень ответственно, иначе вы сами себя сможете подставить. Именно поэтому в нашей фирме работают консультанты, которые к каждому клиенту подходят индивидуально, и при необходимости, дают свои рекомендации.
    p Так же, нужно подумать, куда именно вы хотите устроиться на работу. Если вы хотите работать в органах полиции, ФСБ или в органах налоговой службы, то лучше иметь диплом, который будет официально зарегистрирован. Такой диплом изготавливается через высшее учебное заведение, в течение долгого времени и стоит на порядок дороже.
    p Для всех остальных организаций и рабочих мест наши дипломы – незаменимы, и никакой работодатель не заподозрит вас в хитрости.
    p Как отличить купленный диплом об окончании ВУЗа от подлинного и как проверить его подлинность?
    p Первое, на что нужно обратить внимание – это на внешний вид документа. Визуально можно моментально определить качество работы. Лучше всего сравнивать с реальным дипломом, но они должны полностью совпадать ВУЗами, которые их выдали и годом выпуска. Дело в том, что в разные периоды времени, требования к оформлению и заполнению документов изменяются и повышается их степень защиты. В первую очередь, нужно изучить государственные знаки (водяные знаки и интенсивность их окраски, микротекст, светящиеся частицы, ГОСТ, цветовое изображение герба, закругленность или заостренность углов, размер внутренних страничек и самой обложки). Надпись, которая свидетельствует об оригинальности диплома, должна быть слегка матовой.
    p Так же, нужно учитывать и то, диплом какого образца и какого года вы покупаете. Логически можно понять, что, если вы намерены купить диплом старого образца (например, 1996 года или раньше), то он не может выглядеть так, как будто его только что напечатали. Даже, если вы чрезмерно аккуратны в обращении с документами, потертости и состаривание бумаги избежать невозможно.
    p Лучше всего будет, если вы, выбрав компанию, которая будет изготавливать для вас диплом, попросите показать вам примеры выполненных работ. Так вы сможете убедиться в гарантиях, которые фирма предоставляет и решить, готовы ли оформить здесь свой заказ.
    p Документы, которые изготавливаем мы, внешне абсолютно идентичны оригиналам. Именно поэтому мы можем дать высокие гарантии всем нашим клиентам! 
  
  
  
    h3#individual Индивидуальный подход к каждому

    p Предоставляем самый широкий выбор документов, все возможные варианты доставки, <a href="#" class="runbox">оставьте заявку</a> и мы ответим на любые ваши вопросы

    h3#privacy Полная конфиденциальность

    p Мы гарантируем что покупка вами диплом останется неизвестной любым сторонним лицам. 
    
    h3#payment Оплата по факту

    p Берем на себя все риски, вы можете оплатить диплом уже после получения его в руки, в случае ошибок или помарок  - сразу вернем деньги или бесплатно отправим новый документ

    h3#consult Точные ответы на все вопросы
    p Каждый наш клиент получает подробную консультацию по всем вопросам как до начала работы, в процессе сотрудничества, а так же - после получения диплома. Мы не бросаем своих клиентов.

    h3#delivery Доставка за наш счет
    p Бесплатно отправим диплом почтой росии в любой город. Подробнее - <a href="/delivery">здесь</a>
    
