extends layout

block content
  header.main
    i.icon-down-open
    article
      .center
        h1
          | Оригинальные дипломы любых ВУЗов
          br
          | за 48 часов без предоплаты
        form
          input#name(type="text" placeholder="Ваше имя")
          input#phone(type="tel" placeholder="Номер телефона")
          button Получить бесплатную консультацию
  
  header.callback
    i.icon-down-open
    article
      .center

        .block
          i.icon-graduation-cap
          | Гарантия качества 
          br
          | «Не возьмут на работу вернем Вам деньги»

        .block
          i.icon-bank
          | Диплом государственного образца,
          br
          | оформленный в соответствии со всеми требованиями,
          br
          | изготавливаемый только на бланках ГОЗНАК и имеет все степени защиты

        .block
          i.icon-award
          | Только с оригинальными подписями и мокрыми печатями

        .block
          i.icon-rocket
          | Точно в срок

        .block
          i.icon-dollar
          | Оплата по факту

        .block
          i.icon-truck
          | Доставка за наш счет
        


