extends layout

block content
  header.main
    i.icon-down-open
    article
      .center
        h1
          | Оригинальные дипломы любых ВУЗов
          br
          | за 48 часов без предоплаты
        form#request
          input#name(type="text" placeholder="Ваше имя")
          input#phone(type="tel" placeholder="Номер телефона")
          button Получить бесплатную консультацию
  
  header.callback
    i.icon-down-open
    article
      .center

        .block
          a(href="/faq#individual")
            i.icon-graduation-cap
            | Индивидуальный подход к каждому

        .block
          a(href="/faq#gosznak")
            i.icon-bank
            | Диплом государственного образца,
            br
            | оформленный в соответствии со всеми требованиями,
            br
            | изготавливаемый только на бланках ГОЗНАК,
            br
            | с оригинальными подписями и мокрыми печатями

        .block
          a(href="/faq#privacy")
            i.icon-award
            | Полная конфиденциальность

        .block
          a(href="/delivery#payment-by-fact")
            i.icon-dollar
            | Оплата по факту
      
        .block
          a(href="/faq#consult")
            i.icon-rocket
            | Каждый наш клиент получает подробную консультацию
            br
            | по всем вопросам как до начала работы,
            br
            | так и в процессе сотрудничества

        .block
          a(href="/delivery#delivery-for-free")
            i.icon-truck
            | Доставка за наш счет
