doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul.menu
      li.phone
        | +7 929 113-10-40
      li
        a(href="/") Продажа дипломов по всей России
      li
        a(href="/prices") Услуги
      li
        a(href="/delivery") Доставка и оплата
      li
        a(href="/faq") Вопросы
      li
        a(href="/contacts") Контакты
    block content

    header
      article
        .center
          h1
            | Закажите обратный звонок
            br
            | Перезвоним в течении часа

          form
            input(type="text" placeholder="Ваше имя")
            input(type="tel" placeholder="Номер телефона")
            button Заказать