doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/sweetalert.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="/javascripts/sweetalert.min.js")
    script(src="/javascripts/index.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');  ga('create', 'UA-62305098-1', 'auto');  ga('send', 'pageview');
    ul.menu
      li.phone
        | +7 965 796-24-26
      li
        a(href="/") Продажа дипломов по всей России
      li
        a(href="/prices") Услуги
      li
        a(href="/delivery") Доставка и оплата
      li
        a(href="/faq") Вопросы
      li
        a(href="/contacts") Контакты
    block content

    header
      article
        .center
          h1
            | Закажите обратный звонок
            br
            | Перезвоним в течении 10 минут

          form#request
            input#name(type="text" placeholder="Ваше имя")
            input#phone(type="tel" placeholder="Номер телефона")
            button Заказать

      #footer
        .f-left
          p &copy; 2015&nbsp;
            a(href="http://diplom24.me") Diplom24.me
        .f-right
          p +7 965 796-24-26
        .f-center
          p Продажа дипломов по всей России

    header.lightbox
      article
        .center
          h1
            | Закажите обратный звонок
            br
            | Перезвоним в течении 10 минут

          form#request
            input#name(type="text" placeholder="Ваше имя")
            input#phone(type="tel" placeholder="Номер телефона")
            button Заказать
