extends layout

block content
  header.main.small
    article
  each category in prices
    .list
      h3= category.category
      each item in category.items
        .item
          .picture
            img(src='images/' + item.id + '.jpg')
          p= item.title
          span.price= item.price
          span.oldprice= item.oldprice
          button.runbox Заказать